<div class="container-fluid">
  <!--  TODO: controller?-->
  <% playlist_options = options_for_select(@playlists) %>

<!--  TODO: col-* to figure this out?-->
  <% @result["videos"].each_slice(5) do |videos| %>
    <div class="row">
      <% videos.each do |video| %>
        <div class="col" style="background-color: green; border: 1px solid;">
          <div><img src="<%= video["thumbnail_url"] %>"></div>
          <div>Title: <%= video["title"] %></div>
          <!--          TODO: add ...-->
          <div>Description: <%= video["description"].first(20) %></div>
          <div><%= video["views"] %> views</div>
          <%= form_with model: PlaylistSong.new do |form| %>
            <%= form.hidden_field :video_id, value: video["video_id"] %>
            <%= form.select :playlist_id, playlist_options %>
            <%= form.submit "Add to playlist"%>
          <% end %>
<!--          TODO: alt text-->
<!--          TODO: last row does not have 3-->
        </div>
      <% end %>
    </div>
  <% end %>
</div>
