<%= form_with model: playlist do |form| %>
  <%= form.label :name, class: "form-label" %>
  <%= form.text_field :name, class: "form-control" %>
  <% @playlist.errors.full_messages_for(:name).each do |message| %>
    <div class="form-text"><%= message %></div>
  <% end %>
  <%= form.submit class: "btn btn-primary" %>
<% end %>
