<%= form_with model: playlist do |form| %>
  <div>
    <div><%= form.label :name %></div>
    <div><%= form.text_field :name %></div>
    <% @playlist.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
