<!--  TODO: style h1-->
<h1><%= @playlist.name %></h1>
<% if @playlist.playlist_videos.empty? %>
  <div>No videos added! Consider adding some :)</div>
<% else  %>
<!--  TODO: style h2-->
  <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Videos</h2>
<!--  TODO: fix the sizing issue-->
  <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
          <% @playlist.playlist_videos.order(:position).each do |playlist_video| %>
            <% video = playlist_video.video %>
            <div id="<%= video['video_id'] %>" class="col">
              <div class="card video-card shadow-sm">
                <%= image_tag(video["thumbnail_url"], alt: "Thumbnail image for video #{video['video_id']}") %>
                <div class="card-body">
                  <p class="card-text title"><%= video["title"] %></p>
                  <!--          TODO: add ...-->
                  <!--          TODO: nil description ...-->
                  <p class="card-text description"><%= video["description"]&.first(100)&.rjust(50) %></p>
                  <p class="card-text views"><%= video["views"] %> views</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
