<script>

    addEventListener(
      "dragstart", (event) => {
        // console.log("Start Pre: " + event.dataTransfer.getData("tex/**/t/plain"))
        // console.log(`dragstart: target.id = ${event.target.id}`);
        event.dataTransfer.setData("text/plain", event.target.id)
        event.dataTransfer.effectAllowed = "move";
        console.log("Start getData: " + event.dataTransfer.getData("text"))
            // debugger
      }
    );
    addEventListener(
        "dragover", (event) => {
            // console.log("Over item kind: " +  event.dataTransfer.items[0].kind);
            // console.log("Over get: " +  event.dataTransfer.getData("text/plain"));
                event.dataTransfer.dropEffect = "move";
            event.preventDefault();
            // debugger
        }
    );
    addEventListener(
        "drop", (event) => {
            // console.log("Drop")
            // debugger;
          event.preventDefault();
          // debugger
          console.log("End target: " + event.target.id)
          console.log("End ID: " + event.dataTransfer.getData("text"))
        }
    );
    // addEventListener("dragstart", (event) => { drag(event); });
    // addEventListener("drop", (event) => { drop(event); });
    // addEventListener("drag", (event) => { console.log(event)});

    // ondrag = (event) => { console.log(event) };

    // addEventListener("dragend", (event) => { console.log(event.target.id); });

    // ondragend = (event) => { console.log(event)};
    // function allowDrop(allowdropevent) {
    //     // console.log("Allow drop!: " + allowdropevent.dataTransfer.getData("allowDrop"))
    //     // allowdropevent.dataTransfer.setData("allowDrop", "1");
    //     // // allowdropevent.target.style.color = "blue";
    //     // allowdropevent.preventDefault();
    // }
    //
    // function drag(dragevent) {
    //     console.log("Drag!: " + dragevent.dataTransfer.getData("allowDrop"))
    //     dragevent.dataTransfer.setData("drag", "1");
    //     // dragevent.dataTransfer.setData("text", dragevent.target.id);
    //     // dragevent.target.style.color = "green";
    // }
    //
    // function drop(dropevent) {
    //     console.log("Allow drop!")
    //     console.log("Drop! " + dropevent.dataTransfer.getData("drop"))
    //     dropevent.dataTransfer.setData("drop", "1");
    //     dropevent.preventDefault();
    //     // const data = dropevent.dataTransfer.getData("text");
    //     // dropevent.target.appendChild(document.getElementById(data));
    //     // document.getElementById("drag").style.color = "black";
    // }
    //
    // addEventListener("dragover", (event) => { allowDrop(event); });
    // addEventListener("dragstart", (event) => { drag(event); });
    // addEventListener("drop", (event) => { drop(event); });
</script>

<h1 style="text-align: center"><%= @playlist.name %></h1>
<% if @playlist.playlist_videos.empty? %>
  <div>No videos added! Consider adding some :)</div>
<% else  %>
  <div class="album py-5 bg-body-tertiary" style="width: 70%; margin-left: auto; margin-right: auto;">
      <div class="container">
<!--        TODO: g2-->
        <div class="row row-cols-1 g-2">
          <% @playlist.playlist_videos.order(:position).each do |playlist_video| %>
            <% video = playlist_video.video %>
            <div id="<%= video['video_id'] %>" class="row row-cols-2">
              <div id="draggable-<%= video['video_id'] %>" class="col-1" draggable="true">
                =
                <!--                  TODO: better text display instead of "Position:"-->
                <%#= playlist_video.position %>
              </div>
              <div class="col-2">
                <%= image_tag(video["thumbnail_url"], alt: "Thumbnail image for video #{video['video_id']}") %>
              </div>
              <div class="col-9">
                <div class="card video-card shadow-sm">
                  <div class="card-body">
                    <p class="card-text title"><%= video["title"] %></p>
                    <!--          TODO: add ...-->
                    <!--          TODO: nil description ...-->
                    <p class="card-text description"><%= video["description"]&.first(100)&.rjust(50) %></p>
                    <p class="card-text views"><%= video["views"] %> views</p>
                    <div class="btn-group">
                      <%= link_to("Delete", playlist_video_path(playlist_video.id), class: "btn btn-sm btn-outline-secondary", data: { turbo_method: :delete }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
