<script>

</script>

<h1 style="text-align: center"><%= @playlist.name %></h1>
<% if @playlist.playlist_videos.empty? %>
  <div>No videos added! Consider adding some :)</div>
<% else  %>
  <p style="text-align: center">Tip: Reorder your playlist by dragging and dropping on the left hand side</p>
  <div class="album py-5 bg-body-tertiary" style="width: 70%; margin-left: auto; margin-right: auto;">
      <div class="container">
        <div class="row row-cols-1 g-2">
          <% @playlist.playlist_videos.order(:position).each do |playlist_video| %>
            <% video = playlist_video.video %>
            <div id="<%= video['video_id'] %>" class="row row-cols-2">
              <div id="draggable-<%= video['video_id'] %>" class="col-1 playlist-draggable" draggable="true">
                =
              </div>
              <div class="col-2">
                <%= image_tag(video["thumbnail_url"], alt: "Thumbnail image for video #{video['video_id']}") %>
              </div>
              <div class="col-9">
                <div class="card video-card shadow-sm">
                  <div class="card-body">
                    <p class="card-text title"><%= video["title"] %></p>
                    <!--          TODO: add ...-->
                    <!--          TODO: nil description ...-->
                    <p class="card-text description"><%= video["description"].first(5) %></p>
                    <p class="card-text views"><%= video["views"] %> views</p>
                    <div class="btn-group">
                      <%= link_to("Delete", playlist_video_path(playlist_video.id), class: "btn btn-sm btn-outline-secondary", data: { turbo_method: :delete }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
